<div class="card mt-2 mb-2">
    <a href=@URI>
        <div class="card-glass"></div>
    </a>
    <span class="text-center" role="article">
        <img class="card-img" aria-hidden="true" src=@ImageURI />
        <strong><span class="font-weight-bold mt-2 mb-2 text-xl-center" > @Title</span></strong><br />

        <span class="text-center w-100 p-1 text-box">
            @Description
        </span>
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string ImageURI { get; set; }
    [Parameter]
    public string URI { get; set; }
}
