@page "/engineering"
@inject HttpClient Http

<div class="w-100" style="background-color:#000">
    <h2 class="mt-5">Mechanical Engineering</h2>

</div>
@if (principals == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="w-100 h-100 d-flex flex-wrap">
    @foreach (var principal in principals)
    {
        if (principal.Section == "engineering")
        {
            <CardItem Title=@principal.Title Description=@principal.Description URI=@principal.URI ImageURI=@principal.ImageURI></CardItem>
        }
        else { }
    }
</div>

}

@code {

    private Publication[] principals;

    protected override async Task OnInitializedAsync()
    {
        principals = await Http.GetFromJsonAsync<Publication[]>("sample-data/publication.json");
    }

    public class Publication
    {
        public string Title { get; set; }

        public string Section { get; set; }

        public string Description { get; set; }

        public string URI { get; set; }

        public string ImageURI { get; set; }
    }

}