@page "/engineering"
@inject HttpClient Http

    <div class="animated-content">
        <div class="w-100" style="background-color:#000">
            <h3 class="mt-5">Engenharia Mecânica</h3>

        </div>
        @if (principals == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="w-100 h-100 d-flex flex-wrap">
                @foreach (var principal in principals)
                {
                    if (principal.Section == "engineering")
                    {
                        <CardItem Title=@principal.Title Description=@principal.Description URI=@principal.Uri ImageURI=@principal.ImageURI></CardItem>
                    }
                    else { }
                }
            </div>

        }
    </div>

        @code {
            protected override async Task OnInitializedAsync()
            {
            }
            [CascadingParameter]
            protected List<MainLayout.Items> principals { get; set; }

        }
