@page "/"
@inject HttpClient Http
    <div class="animated-content">
        <div class="w-100" style="background-color:#000">
            <b><h3 class="mt-5">Inicio</h3></b>

            <p>
                Este site tem como objetivo compartilhar conhecimento e registrar algumas notas pessoais.
            </p>
            <p>
                Se você não me conhece, eu sou o Matheus! Sou engenheiro mecânico formado pela Universidade Federal do Rio de Janeiro (UFRJ) e mestrando em ciência da computação pela Universidade Federal da Paraíba (UFPB). Atualmente, estou trabalhando com projetos de ciência de dados e aprendizado de máquina, então teremos algumas coisas neste escopo por aqui.
            </p>
            <p>
                Nas horas vagas, também me dedico a alguns projetos artísticos e sociais, os quais estarei trazendo aqui em algum momento. Espero que você goste.
            </p>
            <h5 class="mt-5">Destaques:</h5>

        </div>
        @if (principals == null)
        {
            <p><em>Carregando...</em></p>
        }
        else
        {
            <div class="w-100 h-100 d-flex flex-wrap">
                @foreach (var principal in principals)
                {
                    if (principal.Section == "principals")
                    {
                        <CardItem Title=@principal.Title Description=@principal.Description URI=@principal.Uri ImageURI=@principal.ImageURI></CardItem>
                    }
                    else { }
                }
            </div>

        }
        </div>

        @code {

            protected override async Task OnInitializedAsync()
            {
            }

            [CascadingParameter]
            protected List<MainLayout.Items> principals { get; set; }
        }
