@page "/projects"
@inject HttpClient Http

<div class="w-100" style="background-color:#000">
    <h3 class="mt-5">Projetos</h3>

</div>
@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="w-100 h-100 d-flex flex-wrap">
        @foreach (var project in projects)
        {
            Console.WriteLine(project.Section);
            if (project.Section == "projects")
            {
            <CardItem Title=@project.Title Description=@project.Description URI=@project.Uri ImageURI=@project.ImageURI ></CardItem>
            }
            else { }
        }
    </div>

}

@code {


    [CascadingParameter]
    protected List<MainLayout.Items> projects { get; set; }
    protected override async Task OnInitializedAsync()
    {
    }
}